h2 {
    width: 1120px;
    height: 22px;
    padding: 50px 0 20px;
    border-bottom: 2px solid black;
    font-size: 22px;
    margin: 0 auto;
}

span {
    color: #444;
    font-size: 18px;
    font-weight: 600;
    width: 400px;
    display: inline-block;
}

ul {
    padding-top: 30px;
    list-style: none;
    margin: 0 auto;
    width: 800px;
}

li {
    height: 50px;
    font-size: 18px;
}
input[type=text], input[type=password], select
{
    width:180px;
    box-sizing:border-box;

}

select:invalid{
    color: gray;
}